<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>医生工作站_病例</title>
    <link rel="stylesheet" href="/css/doctor_medicalrecord.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/doctor_medicalrecord.js"></script>
</head>
<body>
<div id="div1">
    <div class="div1_nav" id="div1_1">
        医生工作站_病例
    </div>
    <div class="div1_nav" id="div1_2">
        医生工作站_检查申请
    </div>
    <div class="div1_nav" id="div1_3">
        医生工作站_检验申请
    </div>
    <div class="div1_nav" id="div1_4">
        医生工作站_确诊
    </div>
    <div class="div1_logout" id="logout">
        退出
    </div>
</div>
<div id="div2">
    待诊患者
</div>
<div id="div3">
    <table id="data_table" class="first_table">
        <tr>
            <th>病历号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>身份证号</th>
            <th>挂号日期</th>
            <th>挂号级别</th>
            <th>是否已诊</th>
            <th>状态</th>
            <th>看诊科室</th>
            <th>看诊医生</th>
        </tr>
        <!--        <c:forEach items="${patients1}" var="patient">-->
        <tr th:each="patient:${patients1}">
            <td>
                <span th:text="${patient.pid}" onclick="myPid(this)" class="pid"></span>
            </td>
            <td th:text="${patient.pname}"></td>
            <td th:text="${patient.sex}"></td>
            <td th:text="${patient.idcard}"></td>
            <td th:text="${patient.createDate}"></td>
            <td th:text="${patient.level.levelname}">
<!--            <td th:each="l:${levels}" th:if="${patient.levelid}==${l.id}" th:text="${l.levelname}">-->
                <!--                <p th:if="${patient.levelid}==${l.id}" th:text="${l.levelname}"></p>-->
            </td>
            <td th:text="${patient.pstatus}"></td>

            <td th:text="未就诊"></td>
            <td th:text="${patient.dept.deptname}">
<!--            <td th:each="d:${depts}" th:if="${d.id}==${patient.deptid}" th:text="${d.deptname}">-->
                <!--                <span th:if="${d.id}==${patient.deptid}" th:text="${d.deptname}"></span>-->

                <!--                <c:forEach items="${depts}" var="d">-->
                <!--                    <c:if test="${d.id==patient.deptid}">-->
                <!--                        ${d.deptname}-->
                <!--                    </c:if>-->
                <!--                </c:forEach>-->
            </td>
            <td th:text="${patient.doc.dname}">
<!--            <td th:each="doctor:${doctors}" th:if="${doctor.id}==${patient.doctorid}" th:text="${doctor.dname}">-->
                <!--                <span th:if="${doctor.id}==${patient.doctorid}" th:text="${doctor.dname}"></span>-->
                <!--                <c:forEach items="${doctors}" var="doctor">-->
                <!--                    <c:if test="${doctor.id==patient.doctorid}">-->
                <!--                        ${doctor.dname}-->
                <!--                    </c:if>-->
                <!--                </c:forEach>-->
            </td>
            <!--        </c:forEach>-->
        </tr>
    </table>
</div>
<div id="div4">
    已诊患者
</div>
<div id="div5">
    <table id="data_table_1">
        <tr>
            <th>病历号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>身份证号</th>
            <th>挂号日期</th>
            <th>挂号级别</th>
            <th>是否已诊</th>
            <th>状态</th>
            <th>看诊科室</th>
            <th>看诊医生</th>
        </tr>
        <tr th:each="patient:${patients2}">
            <td>
                <span th:text="${patient.pid}"></span>
            </td>
            <td th:text="${patient.pname}"></td>
            <td th:text="${patient.sex}"></td>
            <td th:text="${patient.idcard}"></td>
            <td th:text="${patient.createDate}"></td>
            <td th:text="${patient.level.levelname}">
<!--            <td th:each="l:${levels}" th:if="${patient.levelid}==${l.id}" th:text="${l.levelname}">-->
            </td>
            <td th:text="${patient.pstatus}"></td>

            <td th:text="已就诊"></td>
            <td th:text="${patient.dept.deptname}">
<!--            <td th:each="d:${depts}" th:if="${d.id}==${patient.deptid}" th:text="${d.deptname}">-->
            </td>
            <td th:text="${patient.doc.dname}">
<!--            <td th:each="doctor:${doctors}" th:if="${doctor.id}==${patient.doctorid}" th:text="${doctor.dname}">-->
            </td>
        </tr>
    </table>
</div>
<iframe name="f"  width="1250px" height="500px" src="/doctor_regmedicalrecord.html" th:border="0" scrolling="no"></iframe>
<div id="div6"  >
    <input id="regMr" type="button" value="生成病历" >
    <input id="goback" type="button" value="返回" >
</div>
</body>
</html>
