<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.DeptMapper"  >
    <select id="getDeptData" resultType="dept">
        select * from dept
    </select>
    <select id="selectById" resultType="dept" parameterType="int">
        select * from dept where id=#{deptid}
    </select>
</mapper>