<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.InspectItemRecordMapper"  >
    <insert id="insert" parameterType="InspectItemRecord">
        insert into inspectitemrecord(pid,inspectid,amount,paystatus) values(#{pid},#{inspectid},#{amount},0)
    </insert>
    <select id="select" resultType="InspectItemRecord" parameterType="InspectItemRecord">
        select * from inspectitemrecord where pid=#{pid} and inspectid=#{inspectid}
    </select>
</mapper>